

*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(19,45,45);
    margin: 0;
    padding: 0;
}

nav{
  /*   background: rgb(18,29,38); */
    background: linear-gradient(to bottom, rgb(39,57,57),rgb(7, 9, 9));
     height: 4em;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
   
}
nav .logo{
    align-self: center;
    height: 3em;
    margin-left: 30px;
    margin-right: 4em;
}

nav .logo img{
   width: 60px;
   height: 95%;
    
}
nav .listaEnlaces .ulEnlaces{
    height: 100%;
    display: flex;
    flex-direction: row;
}
nav .listaEnlaces .ulEnlaces li{
    height: 100%;
    list-style: none;
   /*  margin: 0px 2px 0px 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid red;
   
    
   

}
.liEnlaces{
   /*  background-color: rebeccapurple; */
    transform: skewX(-20deg);
    
    cursor: pointer;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
}
.liEnlaces:hover {
    background-color: rgb(116,8,8);
    box-shadow: 0px 2px 30px 5px red;
    color: rgb(1, 254, 254);
    display: block;
    transition: 0.9s;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
}
.liEnlaces:hover .submenu{
    background-color: rgb(116,8,8);
    color: rgb(1, 254, 254);
    display: block;
    transition: 0.9s;
    
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
  
}


nav .listaEnlaces .ulEnlaces .liEnlaces button {
    margin: 0px 15px 0px 15px;
    text-transform: capitalize; 
    color: rgb(125, 138, 138);
    font-size: 1rem;
    font-weight: 900;
    background-color: transparent;
    border: none;
    transform: skewX(20deg);
    cursor: pointer;

}
nav .listaEnlaces .ulEnlaces .liEnlaces button:focus {

    
    outline: none;

}
nav .listaEnlaces .ulEnlaces .liEnlaces:hover{
  color: white;
}

.submenu{
   display: none;
   transition: 0.3s;
   border-radius: 10px;
   color: rgb(125, 138, 138);
   position: absolute;
   z-index: 1;
   background: linear-gradient(to bottom, rgb(39,57,57),rgb(7, 9, 9));
   border: 1px solid rgb(40, 2, 2);
   height: auto;
   width: 200px;
   text-align: center;
   left: -40px;
   margin-top: 50px;
   padding-top: 60px;
   top: 15px;
   transform: skewX(20deg);
   -webkit-transform: skewX(20deg);
   -moz-transform: skewX(20deg);
   -ms-transform: skewX(20deg);
   -o-transform: skewX(20deg);
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}
.submenu button{
    text-transform: capitalize;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
}
.submenu button .fa{
    color: red;
    margin-right: 5px;
}

