
   <nav>
    <div class="logo">
    </div>
    <div class="listaEnlaces">
      <ul class="ulEnlaces">
        <li class="liEnlaces">
          <button class="enlaces" routerLinkActive="active" [routerLink]="['persons']">Peoples List</button>
        </li>
        <li class="liEnlaces">
          <button class="enlaces" routerLinkActive="active" [routerLink]="['newrecord', 'save']">New Record</button>
        </li>
        <li class="liEnlaces">
          <button class="enlaces" routerLinkActive="active" [routerLink]="['apiapple']">Apple</button>
        </li>
      </ul>
    </div>
  </nav>